@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Admin.Roatp.Domain.Models
@using SFA.DAS.Admin.Roatp.Web.Infrastructure
@model SFA.DAS.Admin.Roatp.Web.Models.ApprenticeshipUnitUpdateViewModel
@{
    ViewData["Title"] = "update apprenticeship units";
    ViewData["Description"] = "update apprenticeship units";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteNames.ProviderTypeUpdate" method="POST" enctype="multipart/form-data">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do they offer apprenticeship units?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach (var selection in Model.ApprenticeshipUnitsSelection)
                        {
                            <div class="govuk-radios__item">
                                <input name="ApprenticeshipUnitSelectionChoice" class="govuk-radios__input" id="ApprenticeshipUnitId-@selection.Id" type="radio" 
                                       value="@selection.Id.ToString()" @selection.Checked>
                                <label class="govuk-label govuk-radios__label" for="ApprenticeshipUnitId-@selection.Id">
                                    @selection.Description
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Confirm</button>
            </div>
        </form>
    </div>
</div>