@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Admin.Roatp.Web.Infrastructure
@model SFA.DAS.Admin.Roatp.Web.Models.OrganisationStatusUpdateViewModel
@{
    ViewData["Title"] = "update provider status";
    ViewData["Description"] = "update provider status";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteNames.ProviderStatusUpdate" method="POST" enctype="multipart/form-data">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                           Update the status for this provider
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach (var status in Model.OrganisationStatuses)
                        {
                            <div class="govuk-radios__item">
                                <input name="OrganisationStatus" class="govuk-radios__input" id="OrganisationStatusId-@status.Id" type="radio" value="@status.Id"  @status.Checked>
                                <label class="govuk-label govuk-radios__label" for="OrganisationStatusId-@status.Id">
                                    @status.Description
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Continue</button>
            </div>
        </form>
    </div>
</div>